WCF-Client/WCF-Client/Connected Services/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServiceStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceStation" nillable="true" type="tns:ServiceStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceStation" nillable="true" type="tns:ArrayOfServiceStation" />
  <xs:complexType name="ServiceStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceStation" nillable="true" type="tns:ServiceStation" />
  <xs:complexType name="ArrayOfServicesOnStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicesOnStation" nillable="true" type="tns:ServicesOnStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicesOnStation" nillable="true" type="tns:ArrayOfServicesOnStation" />
  <xs:complexType name="ServicesOnStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicesOnStation" nillable="true" type="tns:ServicesOnStation" />
  <xs:complexType name="ArrayOfCarBrand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarBrand" nillable="true" type="tns:CarBrand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarBrand" nillable="true" type="tns:ArrayOfCarBrand" />
  <xs:complexType name="CarBrand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarBrand" nillable="true" type="tns:CarBrand" />
  <xs:complexType name="ArrayOfServices">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Services" nillable="true" type="tns:Services" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServices" nillable="true" type="tns:ArrayOfServices" />
  <xs:complexType name="Services">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Services" nillable="true" type="tns:Services" />
  <xs:complexType name="ArrayOfServicesPerformed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicesPerformed" nillable="true" type="tns:ServicesPerformed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicesPerformed" nillable="true" type="tns:ArrayOfServicesPerformed" />
  <xs:complexType name="ServicesPerformed">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nameCar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nameService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:int" />
      <xs:element minOccurs="0" name="year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicesPerformed" nillable="true" type="tns:ServicesPerformed" />
  <xs:complexType name="Statistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="countServices" type="xs:int" />
      <xs:element minOccurs="0" name="totalAmount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statistic" nillable="true" type="tns:Statistic" />
</xs:schema>