WCF-Client/WCF-Client/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53164/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53164/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53164/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_InsertServiceStation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertServiceStation" />
  </wsdl:message>
  <wsdl:message name="IService_InsertServiceStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertServiceStationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertCarBrand_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCarBrand" />
  </wsdl:message>
  <wsdl:message name="IService_InsertCarBrand_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCarBrandResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertService_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertService" />
  </wsdl:message>
  <wsdl:message name="IService_InsertService_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddServiceForStation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddServiceForStation" />
  </wsdl:message>
  <wsdl:message name="IService_AddServiceForStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddServiceForStationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddExecutedService_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExecutedService" />
  </wsdl:message>
  <wsdl:message name="IService_AddExecutedService_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExecutedServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllServiceStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllServiceStations" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllServiceStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllServiceStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllServicesOnStation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllServicesOnStation" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllServicesOnStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllServicesOnStationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCars" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllServices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllServices" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllServicesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllPerformedServices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPerformedServices" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllPerformedServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPerformedServicesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllexecutedServicesOnStation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllexecutedServicesOnStation" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllexecutedServicesOnStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllexecutedServicesOnStationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllexecutedServicesOnStationWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllexecutedServicesOnStationWithFilter" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllexecutedServicesOnStationWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllexecutedServicesOnStationWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetStatistic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatistic" />
  </wsdl:message>
  <wsdl:message name="IService_GetStatistic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatisticResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="InsertServiceStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertServiceStation" message="tns:IService_InsertServiceStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertServiceStationResponse" message="tns:IService_InsertServiceStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCarBrand">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertCarBrand" message="tns:IService_InsertCarBrand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertCarBrandResponse" message="tns:IService_InsertCarBrand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertService" message="tns:IService_InsertService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertServiceResponse" message="tns:IService_InsertService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddServiceForStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddServiceForStation" message="tns:IService_AddServiceForStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddServiceForStationResponse" message="tns:IService_AddServiceForStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExecutedService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddExecutedService" message="tns:IService_AddExecutedService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddExecutedServiceResponse" message="tns:IService_AddExecutedService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllServiceStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllServiceStations" message="tns:IService_GetAllServiceStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllServiceStationsResponse" message="tns:IService_GetAllServiceStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllServicesOnStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllServicesOnStation" message="tns:IService_GetAllServicesOnStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllServicesOnStationResponse" message="tns:IService_GetAllServicesOnStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllCars" message="tns:IService_GetAllCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllCarsResponse" message="tns:IService_GetAllCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllServices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllServices" message="tns:IService_GetAllServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllServicesResponse" message="tns:IService_GetAllServices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPerformedServices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllPerformedServices" message="tns:IService_GetAllPerformedServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllPerformedServicesResponse" message="tns:IService_GetAllPerformedServices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllexecutedServicesOnStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllexecutedServicesOnStation" message="tns:IService_GetAllexecutedServicesOnStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllexecutedServicesOnStationResponse" message="tns:IService_GetAllexecutedServicesOnStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllexecutedServicesOnStationWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllexecutedServicesOnStationWithFilter" message="tns:IService_GetAllexecutedServicesOnStationWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllexecutedServicesOnStationWithFilterResponse" message="tns:IService_GetAllexecutedServicesOnStationWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatistic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetStatistic" message="tns:IService_GetStatistic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStatisticResponse" message="tns:IService_GetStatistic_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertServiceStation">
      <soap:operation soapAction="http://tempuri.org/IService/InsertServiceStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCarBrand">
      <soap:operation soapAction="http://tempuri.org/IService/InsertCarBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertService">
      <soap:operation soapAction="http://tempuri.org/IService/InsertService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddServiceForStation">
      <soap:operation soapAction="http://tempuri.org/IService/AddServiceForStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExecutedService">
      <soap:operation soapAction="http://tempuri.org/IService/AddExecutedService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllServiceStations">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllServiceStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllServicesOnStation">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllServicesOnStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCars">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllServices">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPerformedServices">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllPerformedServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllexecutedServicesOnStation">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllexecutedServicesOnStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllexecutedServicesOnStationWithFilter">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllexecutedServicesOnStationWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatistic">
      <soap:operation soapAction="http://tempuri.org/IService/GetStatistic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:53164/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>